h1
{
  color: red;
}

a
{
  color: purple;
}

body
{
  background-color: yellow;
  color: white;
}

h2
{
  text-align: center;
}

#zen-benefits p
{
  text-align: right;
}

header
{
  background-color: black;
}
